version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: testSeverstalAdmin
      POSTGRES_USER: serverTest
      POSTGRES_PASSWORD: "12345"
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/testSeverstalAdmin
      SPRING_DATASOURCE_USERNAME: serverTest
      SPRING_DATASOURCE_PASSWORD: "12345"

volumes:
  db_data: